body{
    background-color: aqua;
}
img{
    width: 200px;
    rotate: 270deg;
    margin-top: -100px;
    margin-bottom: -80px;
    border-radius: 20px;
    margin-left: 80px;
    
}
ol{
    margin-top: -30px;
    color: #933737;
    
}
ul{
    margin-top: -30px;
    color: #933737;
}
.thnx{
    margin-top: -30px;
}